.footer {
  background: linear-gradient(to top, #e3e3e300, #0eaea3a9, #e7e7e700, #e7e7e700);
    border-top: 1px solid #d4d4d4;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  padding: 0;
    

}